.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#calendar {
  max-width: 1100px;
  margin: auto auto;
}

button {
  cursor: pointer;
}

.blocked {
  background: repeating-linear-gradient(
    45deg,
    #f4f6f6,
    #f2f4f4 10px,
    #ebedef 10px,
    #eaecee 20px
  );
  border-left: #538dff solid 3px;
}

.blocked > .fc-event-main {
  color: #538dff;
}

.event-settings {
  position: absolute;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 120px;
  border: 1px solid black;
}

.event-settings > p {
  margin: 0;
  padding: 0;
}

.event-settings-color {
  margin-top: 5px;
  width: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.event-settings-color-button {
  width: 30px;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 10px;
  padding: 0.5rem;
}

.event-settings-delete {
  background-color: red;
  color: white;
  border-radius: 10%;
}

.fc-event-checkbox {
  width: 20px;
  background-color: transparent;
}

.task-checked {
  text-decoration: line-through;
}

.event-form {
  position: absolute;
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid black;
  padding: 10px;
  background-color: white;
}

.event-form-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-form-inputs > form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.event-form-title > h4 {
  margin-right: 10px;
}
